{% extends "inpx/base_inpx.html" %}
{% load i18n %}
{% load names %}

{% block title %}
    {{ block.super }} – {% if object %}{{ object|verbose_name }}{% else %}{% trans "Statistic" %}{% endif %}
{% endblock %}

{% block inpx_header %}
    {% if object %}
        <h2>{{ object|verbose_name }}:</h2>
    {% else %}
        <h2>{% trans "Statistic" %}:</h2>
    {% endif %}
{% endblock %}

{% block inpx_button %}
    <a href="{% url 'library:book:list' %}" class="btn btn-outline-secondary">{% trans "Books" %}</a>
{% endblock %}

{% block inpx_content %}
    {% if object %}
        <dl>
            <dt><strong>{% trans "Authors" %}:</strong></dt>
            <dd>{% field_verbose_name object 'authors_database' %}: {{ object.authors_database }}</dd>
            <dd>{% field_verbose_name object 'authors_library' %}: {{ object.authors_library }}</dd>
            <dt><strong>{% trans "Genres" %}:</strong></dt>
            <dd>{% field_verbose_name object 'genres_database' %}: {{ object.genres_database }}</dd>
            <dd>{% field_verbose_name object 'genres_library' %}: {{ object.genres_library }}</dd>
            <dt><strong>{% trans "Languages" %}:</strong></dt>
            <dd>{% field_verbose_name object 'languages_database' %}: {{ object.languages_database }}</dd>
            <dd>{% field_verbose_name object 'languages_library' %}: {{ object.languages_library }}</dd>
            <dt><strong>{% trans "Series" %}:</strong></dt>
            <dd>{% field_verbose_name object 'series_database' %}: {{ object.series_database }}</dd>
            <dd>{% field_verbose_name object 'series_library' %}: {{ object.series_library }}</dd>
            <dt><strong>{% trans "Books" %}:</strong></dt>
            <dd>{% field_verbose_name object 'books_database' %}: {{ object.books_database }}</dd>
            <dd>{% field_verbose_name object 'books_library' %}: {{ object.books_library }}</dd>
            <dt><strong>{% field_verbose_name object 'date' %}:</strong></dt>
            <dd>{{ object.date }}</dd>
            <dt><strong>{% field_verbose_name object 'time_spent' %}:</strong></dt>
            <dd>{{ object.time_spent.total_seconds }}</dd>
        </dl>
    {% else %}
        <p>{% trans "No statistic available" %}</p>
    {% endif %}
{% endblock %}
